body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 28%;
}

button {
  width: 50px;
  height: 35px;
  background: #3b4a6b;
  color: black;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
input {
  color: black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
